extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      h3 Information
    p.well(style='white-space:pre;')= post.content
    p
      b Country
    p.well(style='white-space:pre;')= post.country
    p
      b Address
    p.well(style='white-space:pre;')= post.address
    p
      b Price
    p.well(style='white-space:pre;')= post.price
    p
      b Convenient facilities
    p.well(style='white-space:pre;')= post.convenient
    p
      b Use rule
    p.well(style='white-space:pre;')= post.rule
  

  h3 Comment #{post.numComment}
  table.table
    tr
      th email
      th content
      th check in
      th check out
      th personnel
      th time
      th sign/unsign
    each comment in comments
      tr
        td= comment.email
        td= comment.content
        td= comment.checkin
        td= comment.checkout
        td= comment.personnel
        td= moment(comment.createdAt).format('YYYY/MM/DD')
        td
              a.btn.btn-xs.btn-default(href='/posts') 승인
              | 
              a.btn.btn-xs.btn-default(href='/posts') 거절
  
  form.form-inline(action='/posts/' + post._id + '/comments', method='POST')
    .form-group
      label.sr-only(for='email') email
      input.form-control(name='email', placeholder='email')
    .form-group
      label.sr-only(for='content') content
      input.form-control(name='content', size=40, placeholder='content')
    .form-group
      label.sr-only(for='check in') checkin
      input.form-control(name='checkin', size=15, placeholder='checkin')
    .form-group
      label.sr-only(for='check out') checkout
      input.form-control(name='checkout', size=15, placeholder='checkout')
    .form-group
      label.sr-only(for='personnel') personnel
      input.form-control(name='personnel', size=10, placeholder='personnel')
    button.btn.btn-info 댓글저장
    

    a.btn.btn-default(href='/posts') 목록
