extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      h3 Information
    p.well(style='white-space:pre;')= post.content
    p
      b Country
    p.well(style='white-space:pre;')= post.country
    p
      b Address
    p.well(style='white-space:pre;')= post.address
    p
      b Price
    p.well(style='white-space:pre;')= post.price
    p
      b Convenient facilities
    p.well(style='white-space:pre;')= post.convenient
    p
      b Use rule
    p.well(style='white-space:pre;')= post.rule
    each img in post.images
      img.img-rounded.img-responsive(src=img) 
  

  h3 Reservation #{post.numComment}
  table.table
    tr
      th email
      th content
      th check in
      th check out
      th personnel
      th time
      th sign/unsign
    each comment in comments
      tr
        td= comment.email
        td= comment.content
        td= comment.checkin
        td= comment.checkout
        td= comment.personnel
        td= moment(comment.createdAt).format('YYYY/MM/DD')
        td
              a.btn.btn-xs.btn-default(data-id=post.id, class='yes') 승인
              | 
              a.btn.btn-xs.btn-default(data-id=post.id, class='no') 거절
    
       
    script(type='text/javascript').
      $(".yes").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('예약을 승인하시겠습니까?')) {
          $("#deleteForm").attr('action', "/posts/" + id + "?_method=DELETE").submit();  
          confirm('예약이 완료되었습니다.')       
        }
        return false;
      });

    script(type='text/javascript').
      $(".no").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('예약을 거절하시겠습니까?')) {
          $("#deleteForm").attr('action', "/posts/" + id + "?_method=DELETE").submit(); 
          confirm('예약이 거절되었습니다.')           
        }
        return false;
      });

  form.form-inline(action='/posts/' + post._id + '/comments', method='POST')
    .form-group
      label.sr-only(for='email') email
      input.form-control(name='email', placeholder='email')
    .form-group
      label.sr-only(for='content') content
      input.form-control(name='content', size=40, placeholder='content')
    .form-group
      label.sr-only(for='check in') checkin
      input.form-control(name='checkin', size=15, placeholder='checkin')
    .form-group
      label.sr-only(for='check out') checkout
      input.form-control(name='checkout', size=15, placeholder='checkout')
    .form-group
      label.sr-only(for='personnel') personnel
      input.form-control(name='personnel', size=10, placeholder='personnel')
    button.btn.btn-info 댓글저장
    

    a.btn.btn-default(href='/posts') 목록
